{% extends "base.html" %}
{% block content %}
        <div class="container">
  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to revert the following transaction?
        (You will be able to see all transactions in the Transaction Log.)
{{ form }}
        <br>
<p class="alert alert-danger">
        {% for field in form%}
        <tr>
            <td>{{field.label}}</td>
            <td>{{field.value}}</td>
        </tr>

    {% endfor%}
</p>




    </p>
  <button type="submit" value="submit" class="btn btn-danger">Confirm</button>
</form>
<div>
{% endblock %}