<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head_defaults.html" %}
        <title>Import Members From Old Application</title>
    </head>
    <body>
        <h1>Import Member CSV</h1>
        {{ uploadedFile }}
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'members:import_members' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" {% if uploaded_file != '' %} disabled {% endif %}/></p>

            {% if imported or errors %}
                <div class="alert alert-info">
                    <a href="/admin/members/member/" target="_blank">show imported members</a>
                </div>
            {%  endif %}

            {% if errors %}
                <h1 class="alert alert-danger">total errors: {{ errors|length }}</h1>
            {% endif %}
            {% for err in errors %}
                <div class="alert alert-danger">{{ err }}</div>
            {% endfor %}

            {% if imported %}
                <h1 class="alert alert-success">total successful imports: {{ imported|length }}</h1>
            {% endif %}
            {% for imp in imported %}
                <div class="alert alert-success">{{ imp }}</div>
            {% endfor %}
        </form>
    </body>
</html>
