<!DOCTYPE html>
<html lang="de">
    <head>
        {% load staticfiles %}
        {% include "head_defaults.html" %}
        <title>Membership administration</title>
        <style>
            body{
                padding-top:70px;
            }
            #content{
                margin:2%;
            }
            .glyphicon{
                margin-left:4px;
                margin-right:6px;
            }
            .container-fluid>div {
                display:inline-block;
                vertical-align:top;
                margin:2%;
            }
            .tableAuto {
                table-layout: auto;
            }
        </style>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id="mainContainer" class="container-fluid">
        </div>
        <script src="{%  static 'js/request_helper.js' %}"></script>
        <script src="{%  static 'js/content_view.js' %}?v=1"></script>
        <script type="text/javascript" src="{%  static 'js/jquery.tablesorter.js' %}"></script>
    </body>
</html>
