{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Transaction Logs</h2>
            <table class="table" id="transaction_logs">
                <thead>
                <tr>
                    <th data-toggle="tooltip" title=""> chaosnr</th>
                    <th data-toggle="tooltip" title=""> changed value</th>
                    <th data-toggle="tooltip" title=""> new value</th>
                    <th data-toggle="tooltip" title="timestamp"> time stamp</th>
                    <th data-toggle="tooltip" title="transaction_reason">reason </th>
                                        <th data-toggle="tooltip" title="comment"> comment</th>

                    <th data-toggle="tooltip" title="revert"> revert</th>
                </tr>
                </thead>
                <tbody>
                {% for t in transaction_logs %}
                    <tr>

                        <td> {{ t.member.chaos_number }}</td>
                        <td> {{ t.changed_value }}</td>
                        <td> {{ t.new_value }} </td>
                        <td> {{ t.created_on }}</td>
                        <td> {{ t.transaction_reason }}</td>
                        <td> {{ t.comment }}</td>

                        <td> <a href="{% url 'members:anti_transaction'  t.id  %}">revert</a> </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
    </div>
 <div class="pagination">
        <span class="step-links">
            {% if objects.has_previous %}
                <a href="?page={{ objects.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ objects.number }} of {{ objects.paginator.num_pages }}
            </span>

            {% if objects.has_next %}
                <a href="?page={{ objects.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
