{% extends "base.html" %}
{% block content %}
    <form method="post" action="{% url 'import_app:manage_transactions' %}">
    {% csrf_token %}
        {{ formset.management_form }}
        <div class="container">
            <h2>Transactions</h2>
<script>
function retrieve(id) {
    var lookupnrfield = document.getElementById(id);
    var value = lookupnrfield.value;
    var res = $.get('/import_app/member_lookup/'+  value);
        res.complete(function(response) {
            if (response.responseJSON != undefined){
            $('#'+id+"lookup").html(response.responseJSON.member_first_name+
                    " "+ response.responseJSON.member_last_name+
                    " ("+response.responseJSON.member_chaos_number+")");
                $('#'+id+"lookupfee").html(response.responseJSON.member_paid_until);

            }
            else{
                $('#'+id+"lookup").html("<b>UNKNOWN</b>");
                $('#'+id+"lookupfee").html("<b>UNKNOWN</b>");
            }
    });

}

</script>


            <table class="table" id="transactions">
                <thead>
                <tr>
                    <th data-toggle="tooltip" title="identified from csv"> ChaosNr</th>
                    <th data-toggle="tooltip" title="lookup name from entered chaosnr"> Lookup</th>
                     <th data-toggle="tooltip" title="member in db (matched by chaosnr)">Name (db)</th>
                    <th data-toggle="tooltip" title="from matching member in db (matched by chaosnr)">Paid until (db match)</th>
                    <th>Status</th>
                    <th data-toggle="tooltip" title="confidence score for inferred chaos nr"> Rating</th>
                    <th data-toggle="tooltip" title="Referenz from csv"> Referenz</th>
                    <th data-toggle="tooltip" title="Verwendungszweck from csv"> Verwendungszweck</th>
                    <th data-toggle="tooltip" title="Name from csv"> Name (imported)</th>
                    <th data-toggle="tooltip" title="amount from csv"> Amount (imported)</th>
                </tr>
                </thead>
                <tbody>

                {% for form in formset %}
                    {% if form.instance.status == status_matching %}
                    <tr class="bg-success">
                    {% else %}
                    <tr class="bg-danger">
                    {% endif %}
                        {% for field in form %}
                            {% if "Id:" in field.label_tag %}
                            {% else %}

                                <td> {{ field }}</td>
                                {% if "Chaos number:" in field.label_tag %}
                                    <td>
                                            <button id ="lookupbtn" class="btn btn-mini btn-primary" type="button"
                                                    onclick='retrieve("{{ field.auto_id  }}");' > lookup</button>
                                        {% with field.auto_id|add:"lookup" as lookupid %}
                                         <td>   <div id="{{ lookupid }}">
                                                {{ form.instance.get_expected_member.first_name }} {{ form.instance.get_expected_member.last_name }} </div></td>
   {% endwith %}
    {% with field.auto_id|add:"lookupfee" as lookupfeeid %}

<td> <div id="{{ lookupfeeid }}">{{ form.instance.get_expected_member.getPaidUntil }} </div></td>

{% endwith %}
                                    {% else %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td> {{ form.instance.rating }}</td>
                        <td> {{ form.instance.referenz }}</td>
                        <td> {{ form.instance.verwendungszweck }}</td>
                        <td> {{ form.instance.payer }} </td>
                        <td> {{ form.instance.amount }} </td>

                    {% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

                    </tr>
                {% endfor %}


                </tbody>
            </table>


<button class="btn btn-danger pull-right">Save Changes...</button>
        <button type="button" class="btn btn-primary pull-right" onclick="window.location='{% url 'import_app:import_banking' %}'" >Cancel</button>

        </div>
    </form>

    <div class="pagination">
        <span class="step-links">
            {% if objects.has_previous %}
                <a href="?page={{ objects.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ objects.number }} of {{ objects.paginator.num_pages }}
            </span>

            {% if objects.has_next %}
                <a href="?page={{ objects.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
<script>

    $("#transactions").one("click",function () {
        var nr = null;
        $(this).find("tr").each(function () {
            var c = 0;
            $(this).find("td").each(function () {
                var src_str = $(this).html();
                if (c == 0) {
                    var re = /value="(.*?)".*/;
                    nr = src_str.match(re)[1];
                }
                else if (c == 7) {
                    if (src_str.indexOf("<b>" + nr + "</b>") == -1) {
                    }
                    var new_str = src_str.replace(new RegExp(nr, 'g'), "<b>" + nr + "</b>");
                    $(this).html(new_str);
                }
                c++;
            });
        });
    });

</script>
    <script>
        var tmp = $('select');
        $('select').on('change', function () {
            var sel = this.closest("tr");
            switch (this.value) {
                case "{{ status_matching }}": //M
                    $(sel).removeClass('bg-danger');
                    $(sel).addClass('bg-success');
                    break;
                default:
                    $(sel).removeClass('bg-success');
                    $(sel).addClass('bg-danger');
            }
        })
    </script>
{% endblock %}
